
/* custom-header */
header {
  background: #ffb399;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  padding: 8px;
  font-size: 64px;
}

/* custom-carousel*/
#carousel {
  background: #ffb399;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}

/* custom-main */
main {
  background: #ffb399;
  text-align: center;
}

.decoration{
  color: #800000;
}

/* custom-footer */
footer {
  background: #4d0000;
  font-size: 16px;
  color: #ffb399;
  border-style: groove; 
}

footer p {
  text-align: center;
  font-size: 18px;
}